.bar {
  text-align: center;
  width: 750px;
  height: 25px;
  background-color: #dad9d9;
  margin: 0 auto;
  font-family: monospace;
  padding: auto;
  float: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#screen {
  background-color: #00566c;
  width: 750px;
  height: 450px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 auto;
  padding: 1px;
}
.item--display {
  margin: 1.5rem;
}
