.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
  position: fixed;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.information {
  font-size: 5rem;
  div:nth-child(2) {
    span:nth-child(4) {
      color: #f9f871;
    }
  }
  div:nth-child(3) {
    span:nth-child(9) {
      color: #f9f871;
    }
  }
}

.description {
  display: inline-block;
  vertical-align: top;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.5rem;
  opacity: 0;
  animation: fadeInLeft;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  max-width: 500px;
}
