.container.contact-page {
  display: flex;
  flex-direction: column;
  left: 10%;
  width: 80%;
  min-height: 100px;
  height: 75vh;

  .form-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    margin: 0.5rem;

    form {
      margin: 1rem;
      height: 100%;

      input[type="text"],
      select,
      textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #0f0f0f;
        background: #232d3f;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        color: #fff;
      }
      textarea {
        min-height: 150px;
      }

      input[type="submit"] {
        float: right;
        background-color: transparent;
        color: #ffd700;
        padding: 12px 20px;
        border: 1px solid #ffd700;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: #ffd700;
        color: #363062;
      }
    }
  }
  .validate-message {
    color: #dc3545;
  }
}

@media screen and (max-width: 1200px) {
  .container.contact-page {
    position: relative;
    left: 0;
    h1 {
      font-size: 3.5rem;
    }
    input[type="submit"] {
      float: left !important;
      margin-left: 25%;
      width: 50%;
    }
  }
}
@media screen and (max-width: 768px) {
  .container.contact-page {
    input[type="submit"] {
      margin-left: 0;
      width: 100%;
    }
    h1 {
      font-size: 2.5rem;
    }
    position: relative;
    left: 0;
  }
}
@media screen and (max-width: 480px) {
  .container.contact-page {
    h1 {
      text-align: center;
      margin: 0;
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
