@use "sass:math";

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

@for $i from 1 through 100 {
  .text-animate._#{$i} {
    animation-delay: #{math.div($i, 10)}s;
    // &:hover {
    //   color: yellow;
    // }
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
