$secondary-color: #f9f871;
$nav-mobile-background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  #00566c;

.nav-bar {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), #181818;
  width: 70px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.3s ease;

  a {
    text-decoration: none;
    color: #444;
  }

  &.open {
    left: 0;
  }
}

.text-logo {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  color: $secondary-color;
  font-size: 3rem;
  font-weight: bold;
}

.nav-icon {
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  flex-grow: 1;
}

.nav-social {
  font-size: 2.5rem;
  list-style: none;
  padding: 0.5em;
}

.hamburger-icon {
  display: none;
}

.icon-hover {
  transition: transform 250ms;
  span {
    display: none;
  }
  &:hover {
    transform: translateX(2px);
    color: $secondary-color;
    cursor: pointer;
    svg {
      display: none;
    }
    span {
      display: inline;
      font-size: 1rem;
      letter-spacing: 1.5px;
    }
  }
}

.navlink-active {
  transition: transform 250ms;
  span {
    color: $secondary-color;
    display: none;
  }
  transform: translateX(2px);
  cursor: pointer;
  svg {
    display: none;
  }
  span {
    display: inline;
    font-size: 1rem;
    letter-spacing: 1.5px;
  }
}

@media only screen and (max-width: 1045px) {
  .nav-bar {
    top: 0;
    left: 0;
    height: 100%;
    background: transparent;
    flex-direction: column;
    align-items: start;
    opacity: 0.98;
    .menu {
      p {
        display: none;
      }
      display: flex;
    }
    &.nav-bar.open {
      width: 30rem;
      background: $nav-mobile-background;
    }
  }
  .nav-icon {
    display: none;
    &.nav-icon.open {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: start;
      padding-left: 5rem;
    }
  }
  .nav-social {
    display: none;
    &.nav-social.open {
      display: flex;
      gap: 20px;
      flex-direction: row;
    }
  }
  .hamburger-icon {
    display: flex;
    color: #fff;
    flex-direction: row;
    &:hover {
      color: $secondary-color;
    }
  }
  .icon-hover {
    display: flex;
    gap: 20px;
    color: #fff;
    svg {
      width: 50px;
    }
    span {
      display: inline;
      font-size: 2rem;
      letter-spacing: 1.5px;
    }
    &:hover {
      transform: none;
      svg {
        display: inline;
      }
      span {
        display: inline;
        font-size: 2rem;
        letter-spacing: 1.5px;
      }
    }
  }
}
